{% extends 'base.html' %}
{% load bootstrap4 %}

{% block html_header %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/static/css/signup.css" rel="stylesheet">

{% endblock %}

{% block html_body %}
    <main class="text-center form-signin">
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            {% include 'users/form_errors.html' %}
            <h1 class="h3 mb-2 fw-normal">MAT.ZIP</h1>
            <p class="mb-5">환영합니다 :-)</p>
            <div class="form-floating">
                <input type="text" class="form-control" id="username" name="username"
                       value="{{ form.username.value|default_if_none:'' }}" placeholder="ID">
                <label for="username">ID</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password"
                       value="{{ form.password.value|default_if_none:'' }}" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-dark" type="submit">로그인</button>
        </form>
            <p class="mt-5 mb-3 text-muted">회원이 아니라면? &middot; <a type="button" class="btn btn-sm btn-outline-dark" href="{% url 'users:signup' %}">회원가입</a> </p>


    </main>
{% endblock %}